*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EAE8E8;
  
}
h3::selection{
  background-color: #030303; 
}  

a.active{
  color: #030303;
}

.selectedSubmenu{
  font-family: "Gotham-Black";
}


/* Input Range Edit */

input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  width: 400px; /* Specific width is required for Firefox. */
  background: transparent; /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width:400px;
  cursor: pointer;

  /* Hides the slider so custom styles can be added */
  background: transparent; 
  border-color: transparent;
  color: transparent;
}



/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: 1px solid #030303;
  height: 20px;
  width: 20px;
  background: #030303;
  cursor: pointer;
  margin-top: -10px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
  /* Add cool effects to your sliders! */
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  border: 1px solid #030303;
  height: 20px;
  width: 20px;
  background: #030303;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  border: 1px solid #030303;
  height: 20px;
  width: 20px;
  background: #030303;
  cursor: pointer;
}



input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #030303;
  border: 1px solid #030303;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #030303;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: #030303;
  border: 1px solid #030303;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 1px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 1px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #030303;
  border: 1px solid #030303;
}
input[type=range]:focus::-ms-fill-lower {
  background: #030303;
}
input[type=range]::-ms-fill-upper {
  background: #030303;
  border: 1px solid #030303;
}
input[type=range]:focus::-ms-fill-upper {
  background: #030303;
}